name: Build and upload release

on:
  push:


jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4



      - name: Package release
        run: |
          zip -r Octolapse.zip builds/

      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: Octolapse.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
