name: Build and upload release

on:
  push:


jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Package release
        run: |
          zip -r Octolapse.zip Octolapse/

      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: Octolapse.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
